body {
    color: #333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
    margin: 0 auto;
    width: 940px;
    position: relative;
}

.sacola {
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    text-align: right;
    width: 140px;
    padding: 8px 35px 0 0;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

/* 
posicionamento: 
static = não posso usar propriedades do posicionamento com ele (top, left, right, bottom), ele respeita a sequencia de cima pra baixo, 
da esquerda pra direita
relative = igualzinho o static, só que consegue usar as propriedades de posicionamento(top, left, right, bottom), faz contenção de
um elemento absolute dentro dele
absolute = te obriga a utilizar as propriedades, e ele sai do fluxo da pagina, cria-se outra camada.
fixed = fixo com as propriedades definidas
*/

.menu-opcoes {
    position: absolute;
    right: 0;
    bottom: 0;
}

.menu-opcoes ul {
    font-size: 15px;
    color: #036;
}

.menu-opcoes ul li {
    display: inline-block;
    margin-left: 20px;
}

section {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

form {
    background-color: #dcdcdc;
    width: 230px;
    box-sizing: border-box;
    border-radius: 4px 4px 0 0;
    padding: 8px;
}

input[type="search"] {
    border: 1px solid #acacac;
    border-radius: 16px;
    padding: 4px 8px;
    outline: none;
}

.menu-departamentos {
    background-color: #dcdcdc;
    width: 230px;
    padding: 8px 0;
    margin-top: 10px;
    border-radius: 4px 4px 0 0;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-departamentos h3 {
    padding-left: 8px;
    padding-bottom: 8px;
}

.menu-departamentos li {
    background-color: #fff;
    padding: 4px 8px;
    border-bottom: 2px solid #dcdcdc;
}

.menu-departamentos li a {
    text-decoration: none;
    color: #333;
}

.painel {
    margin: 10px 0;
    padding: 10px;
    width: 445px;
}

.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.painel ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.painel li {
    width: 140px;
    padding-bottom: 10px;
}

.painel a {
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.novidades {
    background-color: #f5dcdc;

}

.mais-vendidos {
    background-color: #dcdcf5;
}